{% extends "base.html" %}

{% block head %}
<!-- CSS読み込みの記述 -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/basics.css' %}" />
{% endblock head %}

{% block title %}
<title>パスワード変更</title>
{% endblock title %}

{% block content %}
<article>
    {% include "sidebar.html" %}
    <section>
        <h1>ユーザー情報変更</h1>
        <div class="container ps-container">
            <div class="item">
                <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="{{ form.old_password.id_for_label }}">現在のパスワード</label>
                    {% for error in form.old_password.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                    <div class="password-container">
                        <input type="password" name="old_password" autocomplete="current-password" id="id_old_password" placeholder="現在のパスワードを入力してください" class="edit-form ps-edit">
                        <span id="id_old_password-toggle" class="password-toggle" onclick="togglePasswordVisibility('id_old_password')"></span>
                    </div>
                </div>
                <div>
                    <label for="{{ form.new_password1.id_for_label }}">新しいパスワード</label>
                    {% for error in form.new_password1.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                    <div class="password-container">
                        <input type="password" name="new_password1" autocomplete="new-password" id="id_new_password1" class="edit-form ps-edit"  placeholder="新しいパスワードを入力してください">
                        <span id="id_new_password1-toggle" class="password-toggle" onclick="togglePasswordVisibility('id_new_password1')"></span>
                    </div>
                </div>
                <div>
                    <label for="{{ form.new_password2.id_for_label }}">新しいパスワードの再入力</label>
                    {% for error in form.new_password2.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                    <div class="password-container">
                        <input type="password" name="new_password2" autocomplete="new-password" id="id_new_password2" class="edit-form ps-edit"  placeholder="新しいパスワードを再度入力してください">
                        <span id="id_new_password2-toggle" class="password-toggle" onclick="togglePasswordVisibility('id_new_password2')"></span>
                    </div>
                </div>
                <button type="submit" class="edit-btn">変更する</button>
                </form>
            </div>
        </div>
    </section>
</article>
{% endblock content %}

{% block script %}
<script src="{% static 'js/change-password.js' %}"></script>
{% endblock script %}