{% extends "base.html" %}

{% block head %}
<!-- CSS読み込みの記述 -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}" />
{% endblock head %}

{% block content %}
{% include "sidebar.html" %}
<div id="mask" class="modal-mask"></div>
<div id="modal" class="modal-window">
    <div id="modalcontent" class="modal-content">
        <h2 class="modal-title">完了</h2>
        <p class="modal-text">パスワードの変更が完了しました。</p>
        <button type="button" class="modal-button" onclick="window.location.href='{% url 'Mondai_app:profile' %}'">ユーザー情報に戻る</button>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock script %}
